@use "sass:string";
// https://github.com/mazid1/bs-spacing/blob/main/src/_spacing.scss with gaps and modern sass
$spacers: (
  0: 0,
  2: 2px,
  4: 4px,
  8: 8px,
  10: 10px,
  12: 12px,
  16: 16px,
  20: 20px,
  24: 24px,
  32: 32px,
  36: 36px,
  40: 40px,
  auto: auto,
) !default;

@each $key, $value in $spacers {
  .m-#{$key} {
    margin: #{$value} !important;
  }

  @if $key != auto {
    .p-#{$key} {
      padding: #{$value} !important;
    }

    .gap-#{$key} {
      gap: #{$value} !important;
    }
  }
}

$sides: (top, bottom, left, right);

@each $key, $value in $spacers {
  @each $side in $sides {
    // generate m* classes
    .m#{string.slice($side, 0, 1)}-#{$key} {
      margin-#{$side}: #{$value} !important;
    }

    // generate p* classes excluding key = auto
    @if $key != auto {
      .p#{string.slice($side, 0, 1)}-#{$key} {
        padding-#{$side}: #{$value} !important;
      }
    }
  }
}

$axises: (x, y);

@each $key, $value in $spacers {
  @each $axis in $axises {
    @if $axis == x {
      // generate classes for x axis

      // generate mx-* classes
      .m#{$axis}-#{$key} {
        margin-left: #{$value} !important;
        margin-right: #{$value} !important;
      }

      // generate px-* classes excluding key = auto
      @if $key != auto {
        .p#{$axis}-#{$key} {
          padding-left: #{$value} !important;
          padding-right: #{$value} !important;
        }

        .gap#{$axis}-#{$key} {
          row-gap: #{$value} !important;
        }
      }
    } @else if $axis == y {
      // generate classes for y axis

      // generate my-* classes
      .m#{$axis}-#{$key} {
        margin-top: #{$value} !important;
        margin-bottom: #{$value} !important;
      }

      // generate py-* classes excluding key = auto
      @if $key != auto {
        .p#{$axis}-#{$key} {
          padding-top: #{$value} !important;
          padding-bottom: #{$value} !important;
        }

        .gap#{$axis}-#{$key} {
          column-gap: #{$value} !important;
        }
      }
    } @else {
      @error "Unknown axis #{$axis}.";
    }
  }
}

.flex {
  display: flex;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
}

.between {
  display: flex;
  justify-content: space-between;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.justify-end {
  display: flex;
  justify-content: end;
}

.align-start {
  display: flex;
  align-items: start;
}

.align-center {
  display: flex;
  align-items: center;
}

.align-end {
  align-items: end;
}

.br-8 {
  border-radius: 8px;
}

.br-12 {
  border-radius: 12px;
}

.br-16 {
  border-radius: 16px;
}

.relative {
  position: relative;
}

.grow-1 {
  flex-grow: 1;
}
