@use 'variables';
@use 'modern-normalize';
@use "fonts";
@use "reset";
@use 'typography';
@use 'grid';
@use 'transitions';
@use '/components/ui/styles/main';

html {
  &.rtl {
    direction: rtl;
  }
}

body {
  background-color: var(--bg-body);
  color: var(--c-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  transition: background-color var(--trs-default);
}

.page-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: calc(82px + 16px);

  &--no-menu {
    padding-bottom: 16px;
  }
}

.container {
  width: 100%;
  max-width: var(--container-w);

  @include respond-to(mobile) {
    padding: var(--container-padding);
  }
}

.icon {
  width: 24px;
  height: 24px;

  &--16 {
    width: 16px;
    height: 16px;
  }

  &--18 {
    width: 18px;
    height: 18px;
  }

  &--20 {
    width: 20px;
    height: 20px;
  }

  &--24 {
    width: 24px;
    height: 24px;
  }

  &--32 {
    width: 32px;
    height: 32px;
  }

  &--36 {
    width: 36px;
    height: 36px;
  }

  &--38 {
    width: 38px;
    height: 38px;
  }

  &--40 {
    width: 40px;
    height: 40px;
  }

  &--46 {
    width: 46px;
    height: 46px;
  }
}

.link {
  color: var(--c-aquamarine-700);
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: var(--c-aquamarine-600);
  }
}
